<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602067378499-huse17o9f6bgir949cg0h79ko1e9t4cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602067378499-huse17o9f6bgir949cg0h79ko1e9t4cb</string>
	<key>API_KEY</key>
	<string>AIzaSyDb8c120JpF-IqZkx9QQdYirpTfLg3qLf0</string>
	<key>GCM_SENDER_ID</key>
	<string>602067378499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.myairplane</string>
	<key>PROJECT_ID</key>
	<string>myairplane-43ba0</string>
	<key>STORAGE_BUCKET</key>
	<string>myairplane-43ba0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602067378499:ios:55bcb541d51707f3be8ff6</string>
</dict>
</plist>